{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  net.mikera/core.matrix {:mvn/version "0.62.0"}
  net.mikera/vectorz-clj {:mvn/version "0.48.0"}
  metasoarous/oz {:mvn/version "1.6.0-alpha30"}}
 :aliases
 {:core-matrix
  {:override-deps
   {net.mikera/core.matrix
    {:local/root "../core.matrix"}}}
  :cljs
  {:extra-deps
   {reagent/reagent {:mvn/version "0.10.0"}}}
  :shadow-cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.11.5"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {cider/cider-nrepl {:mvn/version "0.23.0"}
    nrepl/nrepl {:mvn/version "0.8.2"}
    djblue/portal {:mvn/version "0.6.2"}}}}}